@font-face {
    font-family: 'League Spartan';
    src: url('LeagueSpartan-Bold.eot');
    src: url('LeagueSpartan-Bold.eot?#iefix') format('embedded-opentype'),
        url('LeagueSpartan-Bold.woff2') format('woff2'),
        url('LeagueSpartan-Bold.woff') format('woff'),
        url('LeagueSpartan-Bold.svg#LeagueSpartan-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

